.container {
    height: 200px;
    width: 100%;
    background-color: yellow;
}

footer {
    height: 50px;
    width: 100%;
    background-color: red;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;

}

ul {
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    box-sizing: border-box;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-image: url(/images/gears.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
}

.header::after {
    background: #0c3632;
    content: "";
    height: 100%;
    left: 0;
    opacity: .85;
    position: absolute;
    top: 0;
    transition: all .25s ease;
    width: 100%;
}

.nav {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    line-height: 1.5;
}

.logo-img {
    height: 40px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list li {
    padding: 0 10px;
    color: white;
    font-weight: 600;
    font-size: 14px;
}

.nav-list li:last-of-type {
    padding: 0;
}

.nav-list-link {
    position: relative;
    transition: all .25s ease;
}

.nav-list-link::after {
    background: #17baaa;
    bottom: -8px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transition: all .25s ease;
    width: 100%;
}

.nav-list-link:hover {
    color: #17baaa;
}

.nav-list-link:hover::after {
    transform: scaleX(1);
}

.nav-list li:last-of-type a {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0 10px;
    background-color: red;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    transition: all .25s ease;
}

.heart-icon {
    margin-right: 5px;
    font-size: 14px;
}

.nav-list li:last-of-type a:hover {
    background: #c9233a;
}

.nav-list li:last-of-type a svg {
    width: 1em;
}

.nav-toggle {
    font-size: 2rem;
    color: #fff;
    display: none;
}

.burger-icon {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    vertical-align: -0.125em;
    cursor: pointer;
}

.header-content {
    margin: auto 0;
    position: relative;
    z-index: 1;
}

.header-content-title {
    font-size: 56px;
    color: white;
    line-height: 84px;
}

.header-content-title-green {
    color: #17baaa;
}

.header-content-btn {
    display: block;
    background: #17baaa;
    color: #fff;
    align-items: center;
    border: 0;
    box-sizing: border-box;
    display: inline-flex;
    font-size: 14px;
    font-size: .875rem;
    font-weight: 700;
    justify-content: center;
    max-width: 100%;
    min-height: 40px;
    outline: none;
    padding: 0 30px;
    text-align: center;
    text-transform: uppercase;
    transition: all .25s ease;
}

.header-content-btn:hover {
    background: #129185;
}

@media screen and (max-width: 992px) {
    .nav-list {
        display: none;
    }

    .nav-toggle {
        display: block;
    }
}